# Deepmatcher installation

In [28]:
try:
    import deepmatcher
except:
    !pip install -qqq deepmatcher

In [29]:
import deepmatcher as dm
import torch
torch.cuda.is_available()
import pandas as pd
import io
from google.colab import files
from google.colab import drive

In [3]:
uploaded = files.upload()

Saving testAMS.csv to testAMS.csv
Saving testRM.csv to testRM.csv
Saving trainRM.csv to trainRM.csv
Saving validationRM.csv to validationRM.csv

# Data preprocessing


*   Tokenization
*   Data alteration
*   Word embeddings

In [4]:
trainRm, validationRm, testRm = dm.data.process( #glove.6B.300d words embeddings
    path='',
    train='trainRM.csv',
    validation='validationRM.csv',
    test='testRM.csv',
    embeddings='glove.6B.300d'
)

Reading and processing data from "trainRM.csv"
0% [############################# ] 100% | ETA: 00:00:00
Reading and processing data from "validationRM.csv"
0% [############################# ] 100% | ETA: 00:00:00
Reading and processing data from "testRM.csv"
/root/.vector_cache/glove.6B.zip: 862MB [06:52, 2.09MB/s]
100%|█████████▉| 399255/400000 [00:47<00:00, 8492.75it/s]
Building vocabulary
0% [############] 100% | ETA: 00:00:00
Total time elapsed: 00:00:02

Computing principal components
0% [############] 100% | ETA: 00:00:00
Total time elapsed: 00:00:10
/usr/local/lib/python3.6/dist-packages/sklearn/decomposition/_truncated_svd.py:194: RuntimeWarning: invalid value encountered in true_divide
  self.explained_variance_ratio_ = exp_var / full_var
/usr/local/lib/python3.6/dist-packages/sklearn/decomposition/_truncated_svd.py:194: RuntimeWarning: invalid value encountered in true_divide
  self.explained_variance_ratio_ = exp_var / full_var
/usr/local/lib/python3.6/dist-packages/sklearn/decomposition/_truncated_svd.py:194: RuntimeWarning: invalid value encountered in true_divide
  self.explained_variance_ratio_ = exp_var / full_var
/usr/local/lib/python3.6/dist-packages/sklearn/decomposition/_truncated_svd.py:194: RuntimeWarning: invalid value encountered in true_divide
  self.explained_variance_ratio_ = exp_var / full_var
/usr/local/lib/python3.6/dist-packages/sklearn/decomposition/_truncated_svd.py:194: RuntimeWarning: invalid value encountered in true_divide
  self.explained_variance_ratio_ = exp_var / full_var

In [5]:
train_table = trainRm.get_raw_table()
train_table.head()

      id  label  ... right_calculated_host_listings_count right_availability_365
0  35954      0  ...                                    4                    244
1   2792      0  ...                                    3                    365
2  35002      0  ...                                    4                    365
3  37777      0  ...                                    3                    178
4   3869      0  ...                                   20                    309

[5 rows x 34 columns]

Let's print out the facts labeled with 1

In [8]:
    df = train_table[train_table["label"] == 1]
    df.head()

      id  label  ... right_calculated_host_listings_count right_availability_365
7   2972      1  ...                                    3                    318
22   324      1  ...                                    5                     79
25  3226      1  ...                                  106                     95
26  3836      1  ...                                    2                    342
31   836      1  ...                                   12                    364

[5 rows x 34 columns]

In [9]:
df.tail()

         id  label  ... right_calculated_host_listings_count right_availability_365
11973  1490      1  ...                                    6                    261
11974    24      1  ...                                    8                      0
11977  1112      1  ...                                    4                    166
11978  1752      1  ...                                   14                      0
11979  4159      1  ...                                   25                    365

[5 rows x 34 columns]


# Model definition


1.   **Sif**: this model considers the alignment of sequences of words present in each attribute value pair to determine a match or non-match.
2.   **Rnn**: this model considers the words present in each attribute value pair to determine a match or non-match.
3.  **Attention mechanism**: this model considers the alignment of words present in each attribute value pair to determine a match or non-match. It does not take word order into account.
4.   **Hybrid**: this model considers the alignment of sequences of words present in each attribute value pair to determine a match or non-match.

In [10]:
model = dm.MatchingModel(attr_summarizer='hybrid') 
# model = dm.MatchingModel(attr_summarizer='sif') 
# model = dm.MatchingModel(attr_summarizer='rnn')
# model = dm.MatchingModel(attr_summarizer='attention')

In [11]:
model2 = dm.MatchingModel(attr_summarizer='attention')

# Training
The model is trained on Rome's dataset

In [12]:
model.run_train(
    trainRm,
    validationRm,
    epochs=1,
    batch_size=16,
    best_save_path='hybrid_model.pth',
    pos_neg_ratio=3)

* Number of trainable parameters: 35333818
===>  TRAIN Epoch 1

/usr/local/lib/python3.6/dist-packages/torch/nn/functional.py:2398: UserWarning: reduction: 'mean' divides the total loss by both the batch size and the support size.'batchmean' divides only by the batch size, and aligns with the KL div math definition.'mean' will be changed to behave the same as 'batchmean' in the next major release.
  warnings.warn("reduction: 'mean' divides the total loss by both the batch size and the support size."
0% [██████████████████████████████] 100% | ETA: 00:00:00
Total time elapsed: 00:21:46

Finished Epoch 1 || Run Time: 1299.3 | Load Time:    8.1 || F1:  93.46 | Prec:  89.06 | Rec:  98.31 || Ex/s:   9.17

===>  EVAL Epoch 1

0% [██████████████████████████████] 100% | ETA: 00:00:00
Total time elapsed: 00:02:28

Finished Epoch 1 || Run Time:  145.5 | Load Time:    2.8 || F1:  97.19 | Prec:  94.74 | Rec:  99.77 || Ex/s:  26.94

* Best F1: tensor(97.1879)
Saving best model...
Done.
---------------------

Loading best model...
Training done.

tensor(97.1879)

In [13]:
# Compute F1 on test set
model.run_eval(testRm)

===>  EVAL Epoch 1

0% [█████████████████████████] 100% | ETA: 00:00:00
Total time elapsed: 00:01:47

Finished Epoch 1 || Run Time:  104.8 | Load Time:    2.5 || F1:  96.51 | Prec:  93.91 | Rec:  99.26 || Ex/s:  37.26

tensor(96.5102)

In [14]:
model2.run_train(
    trainRm,
    validationRm,
    epochs=1,
    batch_size=16,
    best_save_path='attention_model.pth',
    pos_neg_ratio=3)

* Number of trainable parameters: 16061802
===>  TRAIN Epoch 1

/usr/local/lib/python3.6/dist-packages/torch/nn/functional.py:2398: UserWarning: reduction: 'mean' divides the total loss by both the batch size and the support size.'batchmean' divides only by the batch size, and aligns with the KL div math definition.'mean' will be changed to behave the same as 'batchmean' in the next major release.
  warnings.warn("reduction: 'mean' divides the total loss by both the batch size and the support size."
0% [██████████████████████████████] 100% | ETA: 00:00:00
Total time elapsed: 00:10:56

Finished Epoch 1 || Run Time:  649.0 | Load Time:    8.1 || F1:  84.40 | Prec:  76.47 | Rec:  94.16 || Ex/s:  18.25

===>  EVAL Epoch 1

0% [██████████████████████████████] 100% | ETA: 00:00:00
Total time elapsed: 00:01:13

Finished Epoch 1 || Run Time:   70.7 | Load Time:    2.7 || F1:  96.04 | Prec:  92.79 | Rec:  99.54 || Ex/s:  54.37

* Best F1: tensor(96.0446)
Saving best model...
Done.
---------------------

Loading best model...
Training done.

tensor(96.0446)

In [15]:
model2.run_eval(testRm)

===>  EVAL Epoch 1

0% [█████████████████████████] 100% | ETA: 00:00:00
Total time elapsed: 00:00:56

Finished Epoch 1 || Run Time:   54.2 | Load Time:    2.5 || F1:  95.58 | Prec:  92.38 | Rec:  99.01 || Ex/s:  70.43

tensor(95.5794)

# Inference mode 
We infer the label over the Amsterdam's dataset

In [33]:
model = dm.MatchingModel(attr_summarizer='hybrid') 
model.load_state("hybrid_model.pth")

In [38]:
unlabeled = dm.data.process_unlabeled(
    path='testAMS.csv',
    trained_model=model,
    ignore_columns = "label"
)

Reading and processing data from "testAMS.csv"
0% [############################# ] 100% | ETA: 00:00:00

In [40]:
predictions = model.run_prediction(unlabeled)
predictions.head()

===>  PREDICT Epoch 1

0% [██████] 100% | ETA: 00:00:00
Total time elapsed: 00:00:26

Finished Epoch 1 || Run Time:   29.0 | Load Time:    0.7 || F1:   0.00 | Prec:   0.00 | Rec:   0.00 || Ex/s:   0.00

       match_score
id
2000      0.123228
12102     0.148303
209       0.946105
14342     0.131425
396       0.960046

In [ ]:
predictions.tail()

       match_score
id
6433      0.141631
2758      0.156833
14978     0.147905
3743      0.151321
8748      0.157153

In [41]:
predictions.insert(0, "ID", predictions.index)
predictions.head()

          ID  match_score
id
2000    2000     0.123228
12102  12102     0.148303
209      209     0.946105
14342  14342     0.131425
396      396     0.960046

In [42]:
matching_pairs = []

for pred in predictions.to_numpy():
  score = float(pred[1])
  if score > 0.90:
    matching_pairs.append(pred[0])
len(matching_pairs)

89

In [43]:
df = unlabeled.get_raw_table()
filtered_df = df[df.index.isin(matching_pairs)]
filtered = filtered_df[filtered_df["left_host_name"] == filtered_df["right_host_name"]]
filtered.head()

      id   left_id  ... right_calculated_host_listings_count right_availability_365
12   832  45539926  ...                                   12                    241
127  148   6611814  ...                                   10                    254
150  387  16863015  ...                                   16                    365
241  766  45539647  ...                                   12                    241
287  173  15963995  ...                                    6                      0

[5 rows x 33 columns]

In [45]:
filtered.tail(10)

      id   left_id  ... right_calculated_host_listings_count right_availability_365
12   832  45539926  ...                                   12                    241
127  148   6611814  ...                                   10                    254
150  387  16863015  ...                                   16                    365
241  766  45539647  ...                                   12                    241
287  173  15963995  ...                                    6                      0
322  250  12579177  ...                                   16                    365
368  122   6050594  ...                                    6                      0
627  313  12898673  ...                                   16                    364
637  637  41912143  ...                                    5                    365

[9 rows x 33 columns]