# Deepmatcher installation

In [1]:
try:
    import deepmatcher
except:
    !pip install -qqq deepmatcher

     |████████████████████████████████| 51kB 2.9MB/s
     |████████████████████████████████| 51kB 4.0MB/s
     |████████████████████████████████| 194kB 8.3MB/s
  Building wheel for deepmatcher (setup.py) ... done
  Building wheel for fasttextmirror (setup.py) ... error
  ERROR: Failed building wheel for fasttextmirror
    Running setup.py install for fasttextmirror ... done

In [2]:
import deepmatcher as dm
import torch
torch.cuda.is_available()
import pandas as pd
import io
from google.colab import files
from google.colab import drive

In [19]:
uploaded = files.upload()

Saving trainAMS.csv to trainAMS.csv
Saving validationAMS.csv to validationAMS.csv

# Data preprocessing


*   Tokenization
*   Data alteration
*   Word embeddings

In [4]:
trainRm, validationRm, testRm = dm.data.process( #fastText default embedding
    path='',
    train='trainRM.csv',
    validation='validationRM.csv',
    test='testRM.csv')

Reading and processing data from "trainRM.csv"
0% [############################# ] 100% | ETA: 00:00:00
Reading and processing data from "validationRM.csv"
0% [############################# ] 100% | ETA: 00:00:00
Reading and processing data from "testRM.csv"
0% [############################# ] 100% | ETA: 00:00:00INFO:deepmatcher.data.field:Downloading vectors from https://drive.google.com/uc?export=download&id=1Vih8gAmgBnuYDxfblbT94P6WjB7s1ZSh

downloading from Google Drive; may take a few minutes

wiki.en.bin: 8.49GB [02:16, 62.4MB/s]
INFO:deepmatcher.data.field:Extracting vectors into /root/.vector_cache

Building vocabulary
0% [############] 100% | ETA: 00:00:00
Total time elapsed: 00:00:01

Computing principal components
0% [############] 100% | ETA: 00:00:00
Total time elapsed: 00:00:10

In [7]:
train_table = trainRm.get_raw_table()
train_table.head()

      id  label  ... right_calculated_host_listings_count right_availability_365
0  35954      0  ...                                    4                    244
1   2792      0  ...                                    3                    365
2  35002      0  ...                                    4                    365
3  37777      0  ...                                    3                    178
4   3869      0  ...                                   20                    309

[5 rows x 34 columns]

Let's print out the facts labeled with 1

In [8]:
    df = train_table[train_table["label"] == 1]
    df.head()

      id  label  ... right_calculated_host_listings_count right_availability_365
7   2972      1  ...                                    3                    318
22   324      1  ...                                    5                     79
25  3226      1  ...                                  106                     95
26  3836      1  ...                                    2                    342
31   836      1  ...                                   12                    364

[5 rows x 34 columns]

In [9]:
df.tail()

         id  label  ... right_calculated_host_listings_count right_availability_365
11973  1490      1  ...                                    6                    261
11974    24      1  ...                                    8                      0
11977  1112      1  ...                                    4                    166
11978  1752      1  ...                                   14                      0
11979  4159      1  ...                                   25                    365

[5 rows x 34 columns]


# Model definition


1.   **Sif**: this model considers the alignment of sequences of words present in each attribute value pair to determine a match or non-match.
2.   **Rnn**: this model considers the words present in each attribute value pair to determine a match or non-match.
3.  **Attention mechanism**: this model considers the alignment of words present in each attribute value pair to determine a match or non-match. It does not take word order into account.
4.   **Hybrid**: this model considers the alignment of sequences of words present in each attribute value pair to determine a match or non-match.

In [10]:
model = dm.MatchingModel(attr_summarizer='hybrid') 
# model = dm.MatchingModel(attr_summarizer='sif') 
# model = dm.MatchingModel(attr_summarizer='rnn')
# model = dm.MatchingModel(attr_summarizer='attention')

# Training
The model is trained on Rome's dataset

In [12]:
model.run_train(
    trainRm,
    validationRm,
    epochs=1,
    batch_size=16,
    best_save_path='hybrid_model.pth',
    pos_neg_ratio=3)

* Number of trainable parameters: 35333818
===>  TRAIN Epoch 1

/usr/local/lib/python3.6/dist-packages/torch/nn/functional.py:2398: UserWarning: reduction: 'mean' divides the total loss by both the batch size and the support size.'batchmean' divides only by the batch size, and aligns with the KL div math definition.'mean' will be changed to behave the same as 'batchmean' in the next major release.
  warnings.warn("reduction: 'mean' divides the total loss by both the batch size and the support size."
0% [██████████████████████████████] 100% | ETA: 00:00:00
Total time elapsed: 00:21:49

Finished Epoch 1 || Run Time: 1303.4 | Load Time:    7.7 || F1:  95.40 | Prec:  91.90 | Rec:  99.18 || Ex/s:   9.14

===>  EVAL Epoch 1

0% [██████████████████████████████] 100% | ETA: 00:00:00
Total time elapsed: 00:02:21

Finished Epoch 1 || Run Time:  138.3 | Load Time:    2.7 || F1:  99.48 | Prec:  98.97 | Rec: 100.00 || Ex/s:  28.33

* Best F1: tensor(99.4830)
Saving best model...
Done.
---------------------

Loading best model...
Training done.

tensor(99.4830)

In [14]:
# Compute F1 on test set
model.run_eval(testRm)

===>  EVAL Epoch 1

0% [█████████████████████████] 100% | ETA: 00:00:00
Total time elapsed: 00:01:48

Finished Epoch 1 || Run Time:  106.2 | Load Time:    2.4 || F1:  99.57 | Prec:  99.14 | Rec: 100.00 || Ex/s:  36.78

tensor(99.5687)

# Inference mode 
We infer the label over the Amsterdam's dataset

In [5]:
model = dm.MatchingModel(attr_summarizer='hybrid') 
model.load_state("hybrid_model.pth")

In [48]:
unlabeled = dm.data.process_unlabeled(
    path='trainAMS.csv',
    trained_model=model,
    ignore_columns = "label"
)

Reading and processing data from "trainAMS.csv"
0% [############################# ] 100% | ETA: 00:00:00

In [49]:
predictions = model.run_prediction(unlabeled)
predictions.head()

===>  PREDICT Epoch 1

0% [████████████████████] 100% | ETA: 00:00:00
Total time elapsed: 00:01:28

Finished Epoch 1 || Run Time:   86.5 | Load Time:    1.9 || F1:   0.00 | Prec:   0.00 | Rec:   0.00 || Ex/s:   0.00

       match_score
id
695       0.981754
175       0.142853
329       0.983663
10207     0.144862
481       0.979656

In [50]:
predictions.tail()

       match_score
id
6433      0.141631
2758      0.156833
14978     0.147905
3743      0.151321
8748      0.157153

In [51]:
predictions.insert(0, "ID", predictions.index)
predictions.head()

          ID  match_score
id
695      695     0.981754
175      175     0.142853
329      329     0.983663
10207  10207     0.144862
481      481     0.979656

In [52]:
matching_pairs = []

for pred in predictions.to_numpy():
  score = float(pred[1])
  if score > 0.90:
    matching_pairs.append(pred[0])
len(matching_pairs)

514

In [54]:
df = unlabeled.get_raw_table()
filtered_df = df[df.index.isin(matching_pairs)]
filtered = filtered_df[filtered_df["left_host_name"] == filtered_df["right_host_name"]]
filtered.head()

     id   left_id  ... right_calculated_host_listings_count right_availability_365
2   329  12908561  ...                                   16                    360
4   481  23899829  ...                                    2                    289
14  405  20913032  ...                                   16                    365
22  830  45539926  ...                                   12                    224
25  800  45539834  ...                                   12                    241

[5 rows x 33 columns]

In [55]:
filtered.tail()

      id   left_id  ... right_calculated_host_listings_count right_availability_365
796  575  41709087  ...                                   10                      0
801  715  45539466  ...                                   12                    244
813  687  45836338  ...                                   25                      0
821  462  22679718  ...                                    6                      0
822  299  12865495  ...                                   16                    360

[5 rows x 33 columns]